.App {
}

#infoBox, #errorBox, #loadingBox {
  width: 62%;
  /*margin: 10px auto;*/
  margin-left: 271px;
  margin-top: 10px;
  color: white;
  text-align: center;
  padding: 5px;
  border-radius: 3px;
  display: none;
  cursor: pointer;
}

#loadingBox {
  background: #7CB3E9;
}
#infoBox {
  background: #393;
}
#errorBox {
  background: #F50;
}


#main {
  margin: 0 10px 20px 10px;
}

table th {
  background: #DDD;
  padding: 10px;
}

table td {
  padding: 5px 10px;
  background: #EEE;
}
div.ads-view {
  margin: auto;
  width: 60%;
  border: 3px solid #73AD21;
  padding: 10px;
  background: #EEE;
}